/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main_mnu ul{
		display: none;
		position: absolute;
		background-color: #3C5670;
		top: 56px;
		width: 100%;
		z-index: 20;
	}	
	.main_mnu ul li{	
		display: block;
	}

	.soc_buttons {
		position: relative;
		top: -68px;
		margin: -10px;
	}

	.logo{
		top: -30px;
	}

	.sell_descr{
		text-align: center;
	}

	.sell_right .button{
		margin: 15px auto;
		float: none;
		max-width: 220px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_links {
		background-color: #101112;
		display: none;
		position: absolute;
		margin-top: 15px;
		padding: 14px;
		vertical-align: middle;
		width: 100%;
	}

	.top_links a{
		width: 100%;
	}

	.soc_buttons {
		position: relative;
		top: -50px;
		margin: 10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
		
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links {
		display: inline-block !important;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main_mnu ul {
		display: block !important;
	}

	.logo{
		margin-bottom: 10px;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}